.restaurant {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(166, 210, 245, 0.78);
    flex-wrap: wrap;
    margin-top: 20px;
}

.rest {
    background-color: indianred;
    width: 400px;
    height: 400px;
    margin: 50px 50px 30px;
    position: relative;
}

.rest h2 {
    margin-bottom: 15px;
}

.rest h2:hover {
    transform: scale(1, 1);
    transition: .4s;
}

.sale {
    color: yellow;
}

.contacts {
    margin-bottom: 5px;
    font-size: 16px;
}

.cont {
    text-align: start;
    margin: 0 60px 5px;
    font-size: 14px;
}

.label {
    font-weight: bold;
    color: rgba(15, 15, 15, 0.75);
    font-size: 12px;
}

.cookTime {
    color: wheat;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    visibility: hidden;
    text-align: center;
    position: absolute;
    color: #efe7e8;
    width: 100%;
    height: 65%;
    left: 0;

}

.rest:hover .info {
    top: 30%;
    visibility: visible;
    background: rgba(0, 0, 0, 0.83);
    transition: .4s;
}

.logoImg {
    margin-top: 10px;
}

.link {
    text-decoration: none;
    width: max-content;
    background-color: #efe7e8;;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
}

.link:hover{
    transform: scale(0.9);
    opacity: 0.6;
}
