.App {
    text-align: center;
    min-height: 100vh;
}
.links{display: flex;}
.link {

    margin: 20px 0 0 40px;
  text-decoration: none;
    width: max-content;
    background-color: #722a35;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.link:hover{
    transform: scale(0.9);
    opacity: 0.6;
}

.app_header {
    display: flex;
    flex-direction: column;
}

.app_header h1 {

}
